<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="container">
        <img src="https://i.imgur.com/KqHyDNt.png" alt="airplane" class="logo">
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Flight Itinerary</a></li>
            <li><a href="#">Add Flights</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="title-caption">
      <h1>Welcome to Mongoose Flights</h1>
      <h2>Exotic Flights ~ Exotic Destinations</h2>
    </div>
  </body>
</html>
