<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Flights</title>
</head>
<body>
  <h2>Schedule of Flight Departures</h2>
  <% flights.forEach(function(air) { %> 
    <h3>Airline: <%= air.airline %></h3>
    <h3>Flight #: <%= air.flightNo %></h3>
    <h3>Departure Date: <%= air.departs %></h3>
  <% }) %>
</body>
</html>